.carousel h1 {
    font-family: "myFirstFont";
    font-size: 4.5vw;

}

.carousel p {
    font-weight: bold;
    font-size: 2.5vw;
}

@font-face {
    font-family: myFirstFont;
    src: url('/public/fonts/TheCircousStriped.ttf') format('truetype');
}


/* things to this month starts here */

.thisMonth {
    padding: 2%;
    margin: 2% 0;
}

.thisMonth h1 {
    font-weight: bolder;
    font-size: 5vw;
    margin: 4vh 0;

}

.thisMonth .thisMonthItems {
    overflow: auto;
    scroll-behavior: smooth;
    width: 100%;
    white-space: nowrap;
    border-bottom: 2px solid rgb(223, 220, 220);
    gap: 3;
}
.thisMonth .thisMonthItems > * {
    margin-right: 10px;
}

.thisMonth .card {

    display: inline-block;
    text-decoration: none;
    border: 2px solid black;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    border-radius: 40px 5px 40px 5px;

}

/* For small screens (sm) */
@media (max-width: 576px) {
    .thisMonth .card {
        width: 75vw;
        font-size: small;
    }
}

/* For medium screens (md) and large screen (lg) */
@media (min-width: 576px){
    .thisMonth .card {
        width: 40vw;
    }
}

.thisMonthItems::-webkit-scrollbar {
    display: none;
}

.thisMonth.card {
    position: relative;
}
.thisMonth .btn{
    background-color:'#8B008B'
}
.thisMonth .card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    width: auto;
    height: auto;
    border-radius: 0 0 30px 0;
    line-height: 1;

}

.thisMonth .card-img-overlay .card-text {
    font-size: small;
    font-weight: 600;
    color: white;
}

/* things to this month ends here */


.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Adjust to fill the screen */
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire area */
    z-index: -1; /* Send video to the back */
  }
  
  .video-container .content {
    position: relative;
    z-index: 1; /* Bring content to the front */
    color: white;
    text-align: center;
    padding: 20px;
  }

/* filter starts here */

.filterDropdown{
    display: flex;
    justify-content: center;
    padding: 1%;
    gap: 3px;;
}
.filterDropdown select{
    width: auto;
    min-width: 300px;
    height: auto;
    padding: 2vh;
    font-weight: 600;

}
.filterDropdown input{
    width: auto;
    min-width: 300px;
    min-height: 40px;
}
/* filter ends here */