.carousel h1 {
    font-family: "myFirstFont";
    font-size: 6rem;

}
.carousel p {
    font-weight: bold;
    font-size: 1.5rem;


}

@font-face {
    font-family: myFirstFont;
    src: url('/public/fonts/TheCircousStriped.ttf') format('truetype');
}