.pagination a {
  color: black;
  float: left;
  padding: 16px;
  text-decoration: none;

}

.pagination a:hover {background-color: #b3dbe7;}

.table th{
  border: 2px solid black;
}
.table td{
  border: 1px solid black;
 border-collapse: collapse;
  height: 30px;
  width: 0px; 

}
.table tr{
  border: 2px solid black;
}
/* .table tr:nth-child(even) {
  background-color: #827e7e;
} */


/* navbar */
#nav{
  float: left;
  /* border: 1px solid black; */
  height: 35px;
  width: 200px;
  padding-top: 10px;
  text-align: center;
  /* font-size:larger; */

}

div a{
  text-decoration: none;
}
@media screen and(max-width: 350px){
  #id {
    width: 75px;}
}
select,input{
  height: 30px;
}