.pagination a {
  color: black;
  float: left;
  padding: 16px;
  text-decoration: none;

}

.pagination a:hover {background-color: #b3dbe7;}

.table th{
  border: 2px solid black;
}
.table td{
  border: 1px solid black;
 border-collapse: collapse;
  height: 30px;
  width: 0px; 

}
.table tr{
  border: 2px solid black;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
